name: Deploy to AWS
on:
  push:
    branches: [ "main" ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/githubconnect
          aws-region: us-east-1
      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
            --template-file cf-template.yaml \
            --stack-name coderoad-ec2-demo \
            --capabilities CAPABILITY_NAMED_IAM
            --no-fail-on-empty-changeset